@model DoAnLapTrinhWeb.Models.tbSach
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Add Book";
}
<h2>Add Book</h2>
<h6><a asp-action="AddTacGia">Thêm Tác Giả</a></h6>
<h6><a asp-action="AddTheLoai">Thêm The Loai</a></h6>
<form asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="tenSach"></label>
        <input asp-for="tenSach" class="form-control" />
        <span asp-validation-for="tenSach" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="imageUrl" Book Image></label>
        <input type="file" asp-for="imageUrl" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="theLoaiId">Thể loại</label>
        <select asp-for="theLoaiId" asp-items=" ViewBag.TheLoai"
                class="form-control"></select>
    </div>

    <div class="form-group">
        @if (ViewBag.TacGia != null)
        {
            <label asp-for="tacGiaId">Tac Gia</label>
            <select asp-for="tacGiaId" asp-items=" ViewBag.TacGia"
                    class="form-control"></select>
        }
        else
        {
            <h6>Loi o viewbag</h6>
        }

    </div>
    <div class="form-group">
        <label asp-for="moTa"></label>
        <input asp-for="moTa" class="form-control" />
        <span asp-validation-for="moTa" class="text-danger"></span>
    </div>



    <button type="submit" class="btn btn-primary">Add</button>
</form>
<a asp-action="Index" onclick="confirmBackToList()">Back to List</a>

<script>
    // Hàm kiểm tra xem người dùng đã nhập thông tin vào các trường hay chưa
    function confirmBackToList() {
        var tenSach = document.getElementById("tenSach").value;
        var moTa = document.getElementById("moTa").value;

        // Nếu các trường tenSach hoặc moTa không rỗng, hiển thị hộp thoại xác nhận
        if (tenSach.trim() !== "" || moTa.trim() !== "") {
            // Hiển thị hộp thoại xác nhận và lấy kết quả
            var confirmResult = confirm("Sách bạn đang nhập chưa được lưu, bạn có chắc chắn thoát chứ?");

            // Nếu người dùng nhấn "OK", chuyển hướng đến danh sách sách
            if (confirmResult == true) {
                window.location.href = "/Book/Index";
            }
            // Nếu người dùng nhấn "Cancel", ở lại trang thêm sách
            else {
                window.location.href = "/Book/Add";
            }
        } else {
            window.location.href = "/Book/Index";
        }
    }
</script>
@* Đoạn script này đang bị lỗi (Khi nhấn Ok thì thoát về Index, nhấn cancle cũng về Index chứ không ở lại Add) *@

